<div class="header">
    <h1>Sandbox</h1>

    <h2>Get a better idea of whats going on. Try it out for yourself!</h2>
    <p>Current harvest: {{harvest}} </p>

    <p>
      We have a predefined ceiling that represents the maximum value for a given portfolio. We assume
      that the growth follows brownian motion with drift; each point is generated procedurally. Any wealth generated above
      the ceiling is "harvested". A button below is provided to generate several different simulations for the same set of parameters. 
      Notice how the harvest can change from simulation to simulation. In fact, you might get unlucky and bankrupt your 
      portfolio quickly, losing out on earnings, or earning nothing entirely. Think how you would 
      make these decisions!
    </p>

    <!-- <app-chart [times]="times" [wealth]="wealth"></app-chart> -->
    <app-sandbox-chart [times]="times" [wealth]="wealth"></app-sandbox-chart>
    <button mat-flat-button  (click)="runSim()" >Rerun Simulation</button>
    <button mat-flat-button  (click)="toNext()" >Continue</button> 
  </div>
