<div class="agreement">
    <h3>Terms and Conditons</h3>
    <p>
        I agree to participate in the financial decision-making
        experiment organized by Rutgers University. I understand that my personal
        information, including my name and date of birth, will be collected, and my
        decisions regarding specific financial scenarios will be recorded. I acknowledge that
        the purpose of this experiment is to study patterns in long term financial
        decision-making and that my data will be used solely for academic research. I
        consent to the collection, storage, and analysis of my data as part of this
        experiment. I understand that my participation is voluntary, and I may
        withdraw at any time without penalty. By clicking below, I agree to the terms
        stated above and release Rutgers Univeristy and the organizers of this
        experiment from any claims arising from my participation.
      </p>
</div>


