input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.header{
  margin-top: 5vh;
  margin-left: 4vw;
  margin-right: 4vw;
}

.content{
  margin-left: 4vw;
  margin-right: 4vw;
}

.content button{
  margin-left: 1vw;
  margin-right: .5vw;
  margin-bottom: 1vw;
}



.simData{
  display: flex;
  margin-left: 4vw;
}

.simData p {
  padding-right: 1vw;
}

