<h1>Question 1</h1>
<p>Select a ceiling you think is reasonable. You have 5 attempts. Your responses will be recorded</p>


<mat-form-field class="currB">
    <mat-label>Enter Ceiling (B) Value</mat-label>
    <input matInput type="number" [(ngModel)]="currB" />
    @if (currB) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="currB = null">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>
<button mat-raised-button (click)="runSim()">Run Simulation</button>
<app-chart [times]="times" [wealth]="wealth"></app-chart>
