input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.header{
  margin-top: 5vh;
  margin-left: 4vw;
  margin-right: 4vw;
}

.content{
  margin-left: 4vw;
  margin-right: 4vw;
}

