<div class="header">
  <h1>Question {{currentQuestionIndex + 1}} </h1>
  <p>Select a ceiling you think is reasonable. You have 5 attempts. Your responses will be recorded</p>
  <p>Drawdowns: {{ drawdowns_str.length > 0 ? '[' + drawdowns_str.join(', ') + ']' : '' }}</p>
</div>

<div class="simData">
  <p>Run: {{run}} </p>
  <p>Current Drawdown: {{drawdown.toFixed(2)}}</p>
  <p>Max Drawdown: {{ drawdowns_num.length > 0 ? max_drawdown.toFixed(2) : 0 }}</p>
  <p>Avg Drawdown: {{ drawdowns_num.length > 0 ? avg_drawdown.toFixed(2) : 0 }}</p>
</div>



<app-chart [times]="times" [wealth]="wealth"></app-chart>


<div class="content">
  <mat-form-field class="currB">
    <mat-label>Enter Ceiling (B) Value</mat-label>
    <input matInput type="number" [(ngModel)]="currB" />
    @if (currB) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="currB = null">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>
<button mat-raised-button (click)="runSim()" [disabled]="!filledB()">Run Simulation</button>
<button mat-raised-button (click)="nextQuestion()" [disabled]="!nextQuestionReady()">{{buttonTag()}}</button>
</div>





